.fondo {
    background-color: #2874A6;
}

.titulo-analisis {
    font-size: 3em;
    color: #b4975a; 
    font-family: Georgia, serif;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.texto-buscador {
    color: white;
}

.lupa {
    background-color: #b4975a;
}

.caja-busqueda {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boton-seccion {
    font-family: Montserrat;
    color: #ffffff;
    background-color: #b4975a;
    border-color: #b4975a;
}

.boton-seccion:hover {
    background-color: black;
    color: #b4975a;
}

.letra-ecovalue {
    color: #b4975a; 
    font-family: Georgia, serif; 
    font-weight: bold;
}

.paginacion {
    color: white;
}

.paginacion:hover {
    background-color: #3f51b5;
    border: 1px solid #b4975a;
}