<div class="sidenav-container" [class.eco-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="ecovalue-toolbar">
    <div class="col-md-2 col-sm-2 col-2">
      <button class="boton" mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="col-md-10 col-sm-10 col-10">
      <div class="col-md-6 col-sm-12 col-12">
        <h1 class="ecovalue-app-name">EcoValue</h1>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <h5 class="ecovalue-app-name">Invertir es una obligación</h5>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="eco-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="list" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a class="letra-list" mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">
          <mat-icon class="icono">{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>