<div class="container-fluid h-100 cont-about">
    <div class="caja col-5 text-center">
        <img src="../../../assets/david.jpg" class='imgPerfil' alt="Foto David">
        <h1>David Pérez Palop</h1>
        <h5>Inversor a largo plazo y desarrollador Web</h5>
        <div class="p-3">
            <p>Mi interés por el mundo de las inversiones se remonta al año 2014 cuando por primera vez en mi vida invertí en acciones del
                que por entonces era mi banco el BBVA.</p>
            <p>Como era de esperar (yo mismo lo sabia) al tratarse de la primera inversión que realize no
                fue muy bien pero ya habia roto el hielo en este mundillo.</p>
        </div>

    </div>
</div>
