<div class="container-fluid cont-about">
    <div class="row pt-2 mb-2 justify-content-center">
        <div class="caja col-9 text-center">
            <img src="../../../assets/david.jpg" class="imgPerfil m-3" alt="Foto David">
            <h1>David Pérez Palop</h1>
            <h5>Inversor a largo plazo y desarrollador Web</h5>
            <div class="p-3">
                <p>
                    Las finanzas no eran desconocidas para mi antes de comenzar mis andaduras por el mundo de las inversiones, de hecho entre mis 
                    amigos y familiares ya tenia reputación de ser algo "tacaño", por lo que en realizar no empecé desde cero en realidad sino que
                    una parte de mi ya estaba preparada para las inversiones puesto que el paso previo para invertir es ahorrar, sin ahorro no hay inversión
                    y yo previamente llevaba practicamente desde los 14 años ahorrando las "estrenas" que mi familia me daba en navidades y lo guardaba
                    cual politico corrupto en un sobre al fondo del cajón al lado de mi escritorio.
                </p>
                <p>Mi inicio en el mundo de las inversiones se remonta al año 2014 cuando por primera vez en mi vida invertí en acciones del
                    que por entonces era mi banco el BBVA, fue impactante la reacción que tuvo la directora de la oficina cuando entre a su despacho y le dije
                    que venia a comprar acciones del banco. Su reacción aun la recuedo perfectamente a dia de hoy con uno de los rostros de sorpresa
                    más epicos que he visto en toda mi vida.</p>
                <p>Como era de esperar (yo mismo lo sabia) al tratarse de la primera inversión que realize no fue muy bien pero ya habia roto el hielo en este 
                    mundillo. Los simuladores y conceptos teoricos habian quedado atrás de una vez por todas aunque el aprendizaje solo habia acabado de empezar.
                </p>
                <p>Vinieron momentos en los que yo mismo senti auténtico miedo: La crisis de Crimea, el Brexit, el frenazo de China, la guerra de Siria, las elecciones
                    en EEUU, el COVID... Todos estos eventos hubieran espantado a cualquiera pero no a mí. Cada vez que se producian estos momentos de pánico yo me mantenia
                    firme en mi propio corazón y de forma decidida y en contra de lo que me decian familiares y amigos yo me dedicaba invertir más.
                </p>
                <p>
                    En las inversiones el peor enemigo eres tu, eso lo aprendí a fuego pero el tener a la gente a tu alrededor que te ayude a seguir adelante 
                    es quizá algo que te pueda venir muy bien en momentos así y en EcoValue vas a encontrar un gran apoyo para hacerlo.
                </p>
            </div>
    
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="caja col-10 text-center">
            <h1 class="mt-3">Proyecto EcoValue</h1>
            <div class="p-3">
                <p>Con motivo del proyecto final a realizar en el último trimestre de mis estudios en Desarrollo de Aplicaciones Web decidí
                    desarrollar una aplicación web relacionada en todo el conocimiento, a la que nombré EcoValue (abreviatura de Economía y Value Investing), que he ido adquiriendo en todos estos años sobre inversiones
                    y así permitir que otras personas puedan acceder a mis opiniones y herramientas para aprender por su cuenta sobre este maravilloso 
                    (y obligatorio) mundo del que toda persona deberia interarse para mejorar su calidad de vida.
                </p>
            </div>
            <div class="row pb-3 justify-content-around">
                <div class="col-md-2 col-12 caja-mini">
                    <mat-icon class="mt-2">trending_up</mat-icon>
                    <h2>Simulación de Cartera</h2>
                    <p>La practica hace maestros, haz tus practica antes de lanzarte a invertir.</p>
                </div>
                <div class="col-md-2 col-12 caja-mini">
                    <mat-icon class="mt-2">format_list_bulleted</mat-icon>
                    <h2>Artículos de opinión</h2>
                    <p>En las inversiones dejar de leer es sinonimo de fracaso, aprende de la experiencia y los conocimientos ajenos.</p>
                </div>
                <div class="col-md-2 col-12 caja-mini">
                    <mat-icon class="mt-2">dynamic_feed</mat-icon>
                    <h2>Recursos para inversores</h2>
                    <p>Invertir no es tan diferente a investigar un crimen: hacen falta datos e información.</p>
                </div>
                <div class="col-md-2 col-12 caja-mini">
                    <mat-icon class="mt-2">edit</mat-icon>
                    <h2>Análisis</h2>
                    <p>Debemos investigar en profundidad en lo que invertimos, tanto que incluso un niño pequeño nos llege a entender.</p>
                </div>
            </div>
        </div>
    </div>
</div>



