<div class="container">
    <div class="row p-3 mt-2 text-center" style="background-color: #459aff;">
      <h1>INFO CRYPTOS</h1>
      <h2>Cotización de los diferentes pares de divisas y cryptomonedas</h2>
    </div>
    <div class="row p-3 mt-2 text-center" *ngIf="mostrarImg">
      <div>
        <img [src]="crypto_Imagen" alt="" width="500" height="500">
      </div>
    </div>
    <div class="container text-center m-2" style="background-color: #01263a; color: #fff;">
        <form>
          <label class="h3">Filtra el par divisa/crypto: </label>
          <input type="text" [(ngModel)]="filterCrypto" name="filterC" id="">
        </form>
        <div>Divisa/Cryptomoneda a buscar: {{filterCrypto}}</div>
    </div>
    <div class="container-fluid p-2 text-center">
        <table class="table table-hover">
          <thead>
              <tr class="bg-info">
                  <th>Mostrar Símbolo</th>
                  <th>Divisa/Cryptomoneda</th>
                  <th>Precio más alto</th>
                  <th>Precio más bajo</th>
                  <th>Precio de cierre</th>
                  <th>Nº de Transacciones</th>
                  <th>Precio de apertura</th>
                  <th>Tiempo</th>
                  <th>Volumen de negociación</th>
                  <th>Precio Medio por Volumen</th>
              </tr>
          </thead>
          <tbody><!-- *ngClass -->
              <tr
                app-lista-cripto
                *ngFor="let cripto of arrayCryptos | criptoFilter:filterCrypto; let isEven = even; let isOdd = odd;" [ngClass]="{'azul': isEven, 'yellow': isOdd}"
                [cripto]="cripto"
                
                >
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- (positionMarcar)="getCrypto($event)" -->