.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.fondo-login {
    background-image: url('../../../../assets/fondo-login.jpg'); 
    background-size: cover;
}

.cont-texto {
    display: flex; 
    align-items: center;
}

.negrita-card {
    font-weight: bold;
}

.fondo-blanco {
    background-color: #D3D3D3;
}

.cursiva {
    font-style: italic;
}