<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Cartera de Inversión</h1>
        </div>
        <div class="col">
            <button (click)="logout()">Cerrar Sesión</button>
        </div>
        <div class="col">
            <h2>{{userName}}</h2>
        </div>
    </div>
    <div>

    </div>
    <div class="row">
        <div class="col">
            TABLA CON LISTA DE LAS POSICIONES EN CARTERA
        </div>
        <div class="col">
            GRÁFICO
        </div>
    </div>

</div>