.fondo {
    background-color: #2E4053;
}

.paginacion {
    color: white;
}

.letra-ecovalue {
    color: #b4975a; 
    font-family: Georgia, serif; 
    font-weight: bold;
}

.paginacion:hover {
    background-color: #3f51b5;
    border: 1px solid #b4975a;
}