<div class="container-fluid fondo">
    <h1 class="titulo-analisis pt-3 text-center">RECURSOS PARA INVERSORES</h1>
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="row">
                <h2 class="subtitulo">Análisis Económico</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Tasa de Paro de EEUU <a href="https://fred.stlouisfed.org/series/UNRATE"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                    <p>Como se observa en el gráfico, cuando la tasa es inferior al 4% hay alto riesgo de recesión y cuando empieza a descender es signo del inicio de la recuperación economica.</p>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Solicitudes semanales de subsidio de desempleo <a href="https://fred.stlouisfed.org/series/ICSA"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                    <p>Es una forma de observar a corto plazo cuando la tasa de paro empezará a reducirse y por ende a iniciarse la recuperación economica.</p>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Licencias de Construcción EEUU <a href="https://fred.stlouisfed.org/series/PERMIT"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                    <p>Cuando empiezan a reducirse de forma precipitada desde un pico alto es signo de crisis cercana.</p>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Inversión inmoviliaria del sector privado <a href="https://fred.stlouisfed.org/series/PRFI#0"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                    <p>Similar a las licencias de construcción, podemos modificarlo para entenderlo mejor: Edit Graph - Units: Percent of change from Year Ago</p>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">SEC</h4>
                        <a href="https://www.sec.gov/"><mat-icon>ios_share</mat-icon></a>
                    </div>
                    <p>Usalo para traducir facilmente los informes gracias al traductor de Google</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <h2 class="subtitulo">Enseñanza y aprendizaje</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">BUFFETT FAQ <a href="https://buffettfaq.com/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Cartas de Peter Lynch <a href="https://mcusercontent.com/3ac5a512537f3f8059c2cf8fe/files/fab8a2c4-3564-46e3-8703-0c94e1042fde/Peter_Lynch_Worth_Magazine_Articles.pdf"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Cartas de Nick Sleep <a href="https://drive.google.com/file/d/1-wnJHNol_k9UIqTRJomhI5btSAZAud1h/view"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Partnership Nomad Investment <a href="https://igyfoundation.org.uk/wp-content/uploads/2021/03/Full_Collection_Nomad_Letters_.pdf"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Invertir desde Cero <a href="https://www.youtube.com/c/InvertirdesdeCero"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">El Arte de Invertir <a href="https://www.youtube.com/c/ElArtedeinvertir"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="row">
                <h2 class="subtitulo">Análisis y research de fondos de inversión</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Alta Fox Capital <a href="https://www.altafoxcapital.com/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">FundSmith <a href="https://www.fundsmith.co.uk/analysis/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">RV Capital <a href="https://www.rvcapital.ch/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Intrinsic Investing <a href="https://intrinsicinvesting.com/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Saber Capital <a href="https://sabercapitalmgt.com/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Icaria Capital <a href="https://icariacapital.es/blog/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">JP Morgan Wa <a href="https://www.chase.com/personal/investments/learning-and-insights/category/featured"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <h2 class="subtitulo">Tesis de inversión</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">MBI DEEP DIVES <a href="https://mbi-deepdives.com/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Whale Wisdom <a href="https://whalewisdom.com/stock/pltr"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">The 10 Man <a href="https://www.the10thmanbb.com/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Seeking Alpha <a href="https://seekingalpha.com/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="row">
                <h2 class="subtitulo">Screeners de Valores</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Financial Times <a href="https://markets.ft.com/data/equities/results"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Market Screener <a href="https://www.marketscreener.com/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Morningstar.com <a href="https://www.morningstar.com/"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Finviz <a href="https://finviz.com/quote.ashx?t=PLTR"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
            </ul>
        </div>   
        <div class="col-lg-5">
            <div class="row">
                <h2 class="subtitulo">Movimientos de inversores destacados</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h4 class="negrita">Data Roma <a href="https://www.dataroma.com/m/home.php"><mat-icon>ios_share</mat-icon></a></h4>
                    </div>
                </li>
            </ul>            
        </div> 
    </div>
</div>
