<div class="container-fluid fondo">
    <h1 class="titulo-analisis pt-3 text-center">RECURSOS PARA INVERSORES</h1>
    <div class="row justify-content-center">
        <div class="row">
            <h2 class="subtitulo">Análisis Económico</h2>
            <h3 class="text-center explicacion-recurso">
                Los siguientes enlaces proporcionan una aproximación muy acertada tanto de si nos encontramos a las puertas de una recesión económica
                o bien en pleno auge económico. Estos son sin duda los indicadores más importantes, pues si somos capaces de prever que se aproxima un
                desastre financiero sabremos que es momento de aumentar la liquidez en cartera a la espera de mejores precios de mercado.
            </h3>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="card m-2 card-recurso">
                <div class="card-body">
                    <h4 class="card-title negrita">Tasa de Paro de EEUU</h4>
                    <p class="card-text">Como se observa en el gráfico, cuando la tasa es inferior al 4% hay alto riesgo de recesión y cuando empieza a descender es signo del inicio de la recuperación economica.</p>
                    <a href="https://fred.stlouisfed.org/series/UNRATE" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
            <div class="card m-2 card-recurso card-recurso">
                <div class="card-body">
                    <h4 class="negrita">Solicitudes semanales de subsidio de desempleo</h4>
                    <p class="card-text">Es una forma de observar a corto plazo cuando la tasa de paro empezará a reducirse y por ende a iniciarse la recuperación economica.</p>
                    <a href="https://fred.stlouisfed.org/series/ICSA" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
            <div class="card m-2 card-recurso">
                <div class="card-body">
                    <h4 class="negrita">Licencias de Construcción EEUU</h4>
                    <p class="card-text">Debido a la importante inversión que suponen las nuevas obras, cuando empiezan a reducirse de forma precipitada desde un pico alto es signo de crisis cercana.</p>
                    <a href="https://fred.stlouisfed.org/series/PERMIT" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
            <div class="card m-2 card-recurso">
                <div class="card-body">
                    <h4 class="negrita">Inversión inmoviliaria privada</h4>
                    <p class="card-text">Similar a las licencias de construcción, podemos modificarlo para entenderlo mejor: Edit Graph - Units: Percent of change from Year Ago.</p>
                    <a href="https://fred.stlouisfed.org/series/PRFI#0" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
            <div class="card m-2 card-recurso">
                <div class="card-body">
                    <h4 class="negrita">Nuevas casas unifamiliares vendidas</h4>
                    <p class="card-text">El acceso a la primera vivienda por parte de una familia es otro de los indicadores de recesión destacados debido al importante gasto que supone.</p>
                    <a href="https://fred.stlouisfed.org/series/HSN1F" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <h2 class="subtitulo">Fuentes de información bursatil</h2>
            <h3 class="text-center explicacion-recurso">
                <h3 class="text-center explicacion-recurso">
                    En ocasiones la información aparece de forma imprecisa y a nosotros como inversores no nos vale cualquier cosa pues en caso
                    de no tener información detallada podria significar miles en perdidas.
                </h3>
            </h3>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="card card-recurso">
                <div class="card-body">
                    <h4 class="negrita">SEC</h4>
                    <p class="card-text">Usalo para traducir facilmente los informes anuales de las empresas gracias al traductor de Google</p>
                    <a href="https://www.sec.gov/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <h2 class="subtitulo">Enseñanza y aprendizaje</h2>
            <h3 class="text-center explicacion-recurso">
                En mi propia experiencia he aprendido que en el mundo de las inversiones resulta mucho más util leer los escritos de los mejores
                inversores del mundo que leer cualquier libro sobre finanzas e inversión, aunque muchas de las cartas son largas de leer es una certeza
                que es la mejor forma de aprender.
            </h3>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="card m-2 card-recurso">
                <div class="card-body row">
                    <div class="col-6">
                        <h4 class="negrita">Enseñanzas de Warren Buffett</h4>
                    </div>
                    <div class="col-6">
                        <a href="https://buffettfaq.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                    </div>
                </div>
            </div>
            <div class="card m-2 card-recurso">
                <div class="card-body row">
                    <div class="col-6">
                        <h4 class="negrita">Cartas de Peter Lynch</h4>
                    </div>
                    <div class="col-6">
                        <a href="https://mcusercontent.com/3ac5a512537f3f8059c2cf8fe/files/fab8a2c4-3564-46e3-8703-0c94e1042fde/Peter_Lynch_Worth_Magazine_Articles.pdf" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                    </div>
                </div>
            </div>
            <div class="card m-2 card-recurso">
                <div class="card-body row">
                    <div class="col-6">
                        <h4 class="negrita">Cartas de Nick Sleep</h4>
                    </div>
                    <div class="col-6">
                        <a href="https://drive.google.com/file/d/1-wnJHNol_k9UIqTRJomhI5btSAZAud1h/view" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                    </div>
                </div>
            </div>
            <div class="card m-2 card-recurso">
                <div class="card-body row">
                    <div class="col-6">
                        <h4 class="negrita">Cartas de Seth Klarman</h4>
                    </div>
                    <div class="col-6">
                        <a href="https://drive.google.com/file/d/1oZVIJpKTKB42-aFLXGrBc-IfJ-p7lEWA/view" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                    </div>
                </div>
            </div>
            <div class="card m-2 card-recurso">
                <div class="card-body row">
                    <div class="col-6">
                        <h4 class="negrita">Partnership Nomad Investment</h4>
                    </div>
                    <div class="col-6">
                        <a href="https://igyfoundation.org.uk/wp-content/uploads/2021/03/Full_Collection_Nomad_Letters_.pdf" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                    </div>
                </div>
            </div>
            <div class="card m-2 card-recurso">
                <div class="card-body row">
                    <div class="col-6">
                        <h4 class="negrita">Invertir desde Cero</h4>
                    </div>
                    <div class="col-6">
                        <a href="https://www.youtube.com/c/InvertirdesdeCero" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                    </div>
                </div>
            </div>
            <div class="card m-2 card-recurso">
                <div class="card-body row">
                    <div class="col-6">
                        <h4 class="negrita">El Arte de Invertir</h4>
                    </div>
                    <div class="col-6">
                        <a href="https://www.youtube.com/c/ElArtedeinvertir" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 justify-content-center">
        <h2 class="subtitulo">Análisis y research de fondos de inversión</h2>
        <div class="col-10 justify-content-center">
            <h3 class="text-center explicacion-recurso">
                Los gestores de fondos de inversión pasan su jornada laboral entera haciendo analisis exhaustivos de cualquier cosa relacionada con las
                inversiones, los negocios y la economía, esto hace que leer los informes que publican sean oro puro para inversores particulares.
            </h3>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Alta Fox Capital</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.altafoxcapital.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">FundSmith</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.fundsmith.co.uk/analysis/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">RV Capital</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.rvcapital.ch/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Intrinsic Investing</h4>
                </div>
                <div class="col-6">
                    <a href="https://intrinsicinvesting.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Saber Capital</h4>
                </div>
                <div class="col-6">
                    <a href="https://sabercapitalmgt.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Icaria Capital</h4>
                </div>
                <div class="col-6">
                    <a href="https://icariacapital.es/blog/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">JP Morgan Wa</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.chase.com/personal/investments/learning-and-insights/category/featured" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 justify-content-center">
        <h2 class="subtitulo">Tesis de inversión</h2>
        <div class="col-10 justify-content-center">
            <h3 class="text-center explicacion-recurso">
                Tanto cuando eres un pricipiante como cuando eres un experto siempre es buena idea leer las tesis de inversión que hagan otras personas
                para usarlo como base de nuestro propio análisis y de esta forma tambien obtener ideas nuevas.
            </h3>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="card m-2 card-recurso" >
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">MBI DEEP DIVES</h4>
                </div>
                <div class="col-6">
                    <a href="https://mbi-deepdives.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso" >
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Whale Wisdom</h4>
                </div>
                <div class="col-6">
                    <a href="https://whalewisdom.com" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso" >
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">The 10 Man</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.the10thmanbb.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso" >
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Seeking Alpha</h4>
                </div>
                <div class="col-6">
                    <a href="https://seekingalpha.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 justify-content-center">
        <h2 class="subtitulo">Screeners de Valores</h2>
        <div class="col-10 justify-content-center">
            <h3 class="text-center explicacion-recurso">
                Para generar ideas de inversión se pueden realizar filtros con condiciones fundamentales y tecnicas que debe cumplir una empresa para que 
                invirtamos en ella y para conseguir esto no existe nada mejor que los screeners, los cuales nos ahorran horas de trabajo al proporcionarnos
                al instante empresas que pasen nuestros filtros.
            </h3>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="card m-2 card-recurso" >
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Financial Times</h4>
                </div>
                <div class="col-6">
                    <a href="https://markets.ft.com/data/equities/results" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso" >
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Market Screener</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.marketscreener.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso" >
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Morningstar.com</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.morningstar.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso" >
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Finviz</h4>
                </div>
                <div class="col-6">
                    <a href="https://finviz.com" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 justify-content-center">
        <h2 class="subtitulo">Movimientos de los mejores inversores del mundo</h2>
        <div class="col-10 justify-content-center">
            <h3 class="text-center explicacion-recurso">
                Seguir los movimientos de los más grandes del mundo de la inversión es tambien una fuente de ideas de inversión, aunque
                esto no debe significar lanzarnos a ciegas a comprar si haber hecho nosotros los deberes ya que incluso los mejores se
                equivocan.
            </h3>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Data Roma</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.dataroma.com/m/home.php" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Insider Monitor</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.insider-monitor.com/insider_stock_purchases.html" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Gurufocus</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.gurufocus.com/insider/summary" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Insider Screener</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.insiderscreener.com/en/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 justify-content-center">
        <h2 class="subtitulo">CriptoActivos</h2>
        <div class="col-10 justify-content-center">
            <h3 class="text-center explicacion-recurso">
                En el mundo de los Cripto activos podemos encontrar algunos sitios tanto para hacer un buen seguimiento de proyectos como del
                aprendizaje de este nuevo e innovador sector que esta aun en sus fases inciales.
            </h3>
        </div>
    </div>
    <div class="row d-flex justify-content-around pb-2">
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Coin Market Cap</h4>
                </div>
                <div class="col-6">
                    <a href="https://coinmarketcap.com/es/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Coingecko</h4>
                </div>
                <div class="col-6">
                    <a href="https://www.coingecko.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="card m-2 card-recurso">
            <div class="card-body row">
                <div class="col-6">
                    <h4 class="negrita">Dappradar</h4>
                </div>
                <div class="col-6">
                    <a href="https://dappradar.com/" class="btn boton-recurso">Enlace <mat-icon>ios_share</mat-icon></a>
                </div>
            </div>
        </div>
    </div>
</div>
