.fondo {
    background-color: #2874A6;
}

.titulo-analisis {
    font-size: 3em;
    color: #b4975a; 
    font-family: Georgia, serif;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.subtitulo {
    font-size: 2em;
    color: #b4975a; 
    font-family: Georgia, serif;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.negrita {
    font-weight: bold;
}

.explicacion-recurso {
    background-color: #71AEBC; 
    border-radius: 18px; 
    font-style: italic; 
    font-weight: 400;
}

.card-recurso {
    width: 18rem; 
    background-color: #478CDA;
    box-shadow: 6px 10px 20px black;
}

.boton-recurso {
    background-color: #EFA43F;
}