<div class="container-fluid fondo">
  <div class="row align-items-center p-3">
    <h1 class="titulo-analisis">Blog</h1>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-3 col-md-6 col-12 mt-1 mb-1" *ngFor="let art of llistarArticulos">
      <mat-card>
        <img mat-card-image [src]="art.Imagen" height="260" alt="Imagen Artículo">
        <mat-card-content class="content-centro">
          <mat-card-title-group>
            <mat-card-title>{{art.Titulo}}</mat-card-title>
          </mat-card-title-group>
        </mat-card-content>
        <mat-card-actions class="content-centro">
          <button mat-raised-button color="primary" style="width: 60%;" [routerLink]="['/show-articulo', art.id]">Leer más</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>