<div class="container-fluid">
    <div class="col text-center">
        <h2 class="letra-ecovalue">CUENTA DE RESULTADOS</h2>
    </div>
    <div class="row d-flex justify-content-sm-around">
        <div class="col-md-12">
            <table class="table letra-ecovalue color-t">
                <thead class="text-center">
                    <tr>
                        <th>Concepto</th>
                        <th *ngFor="let anyo of anyos">{{anyo}}</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>Ingresos Brutos</td>
                        <td *ngFor="let i of income">{{i!.revenues.value | cantidadMoneda | number: '1.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>Bº Operativo</td>
                        <td *ngFor="let i of income">{{i!.costs_and_expenses.value | cantidadMoneda | number: '1.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>Gasto Intereses</td>
                        <td *ngFor="let i of income">{{i!.interest_expense_operating.value | cantidadMoneda | number: '1.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>B/P antes de Impuestos</td>
                        <td *ngFor="let i of income">{{i!.income_loss_from_continuing_operations_before_tax.value | cantidadMoneda | number: '1.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>B/P despues de Impuestos</td>
                        <td *ngFor="let i of income">{{i!.net_income_loss_attributable_to_parent.value | cantidadMoneda}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="col-lg-12">
                    <h2 class="letra-ecovalue">EVOLUCIÓN INGRESOS</h2>
                    <div class="d-flex justify-content-center" id="contenedor">
                        <canvas id="grafico_income"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>