<footer class="text-center p-3 mt-0 text-white" style="background-color: #132f57;">
    <div class="container row">
        <div class="col dorado">EcoValue © {{anyoActual}} Copyright</div>
        <div class="col">
            <ul class="list-unstyled mb-0 row">
                <li class="col">
                    <a href="" class="dorado-li">Aviso Legal</a>
                </li>
                <li class="col dorado">
                    <a href="" class="dorado-li">Política de Cookies</a>
                </li>
                <li class="col dorado">
                    <a href="" class="dorado-li">Política de Privacidad</a>
                </li>
            </ul>
        </div>
    </div>
</footer>